.navbar-brand{
    margin-top: 0px;
    padding-top: 5px;
}

body{
  background-color: #d7dde9;
	/*background: linear-gradient(#d7dde9, #9aa7b2);*/
}

.navbar-brand img{
  height:40px;
}
.navbar-inverse{
  background-color: #333a56;
  text-transform: uppercase;
  font-family: verdana;
  /*border-bottom: 1px solid #4d567b;*/
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
 background-color: #4d567b;
}

.navbar-inverse .navbar-nav>li>a{
  color: white;
  transition: 0.5s;
  color: #c7c7c7;
}

.navbar-inverse .navbar-nav>li>a:hover {
  background-color: #4d567b;
}

.teachers{
  background-color: #d7d7d7;
  color: #333a56;
  text-transform: uppercase;
  font-family: Trebuchet MS;
  margin-top: 7.5px;
  font-weight: bold;
  margin-left: 10px;
  transition: 0.2s;
}

.teachers:hover{
  background-color: white;
  transition: 0.2s;
}

.jumbotron{
   background: url('../Images/mainHeader2.png') center center;
   background-size: cover;
   height: 400px;
   margin-left: -65px;
}

.jumbotron a{
  margin: 24% 0% 0% 43%;
  transition: 0.5s;
  background-color: #333a56;
  color: white;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  opacity: 0.8;
}

.jumbotron a:hover{
  color: white;
  opacity: 1;
  transition: 0.5s;
}

.alert-custom{
  border-color: #4d567b;
  background-color: white;
  color: #333a56;
  width: 300px;
  margin: 0 auto;
}

.innercarousel{
  /*float: left;*/
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px;
}

.innercarousel .panel-title{
  font-size: 1em;
}

.panel-body img{
  float: left;
  /*margin: 0 auto;*/
  max-width: 150px;
}

.carousel-control{
  color: #333a56;
  opacity: 1;
}

.carousel-control.right2 {
    right: 0;
    left: auto;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-indicators{
  display: none;
}

.centeringtext{
  /*float: left;*/
}

.carousel{
  margin: 0 auto;
  max-width: 650px;
}

.panel-custom .panel-heading{
  background-color: #333a56;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

#about, #contact{
  font-size: 2em;
}

.panel-custom{
  border-color: #333a56;
  text-align: center;
  line-height: 1.9;
}

.about .customhead{
  background-color:#4d567b;
  color: white;
}

.about{
  background-color: #333a56;
  color: white;
}

.features{
  font-weight: bold;
  color: #333a56;
  margin-bottom: 0px;
}

.featurestxt{
  color: #555;
  font-size: 0.9em;
  font-style: oblique;
  margin-bottom: 30px;
}

.caption h3{
  color: #333a56;
  text-transform: uppercase;
  font-size: 1.4em;
  line-height: 0.5;
  font-weight: bold;
}


.caption p{
  color: #555;
  font-size: 1.1em;
  margin-bottom: 0px;
}

.iconthumb{
  opacity: 1;
  transition: 1s;
}

.iconthumb:hover{
  box-shadow: 5px 5px 50px silver;
  border-radius: 15%;
  /*background-color: white;*/
  opacity: 0.9;
  transition: 0.5s;
}

.footer{
  margin-top: 30px;
  background-color: #333a56;
  color: white;
  padding: 10px 0px;
  text-align: center;
}



hr.seperator{
  border: 0;
  height:1px;
  opacity: 0.3;
  background-image: -webkit-linear-gradient(left, #d7dde9, #333a56, #d7dde9);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  margin: 50px 0px;
}
